<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
  <div class="panel panel-info" >
    <div class="panel-heading">
      <div class="panel-title">Sign In</div>
      <div style="float:right; font-size: 80%; position: relative; top:-10px">{{#link-to 'reset'}}Forgot password?{{/link-to}}</div>
    </div>

    <div style="padding-top:30px" class="panel-body">

      <form id="loginform" class="form-horizontal" role="form">

        <div style="margin-bottom: 5px" class="form-group">
          <div class="col-md-offset-3 col-sm-offset-2 col-md-8">
            {{paper-input label="E-mail" icon="email" required=true type="email" value=customemail onChange=(action (mut customemail))}}
          </div>
        </div>

        <div style="margin-bottom: 5px" class="form-group">
          <div class="col-md-offset-3 col-sm-offset-2 col-md-8">
            {{paper-input label="Password" icon="lock" required=true type="password" value=password onChange=(action (mut password))}} 
          </div>
        </div>

        <div style="margin-top:5px" class="form-group">
          <div class="col-md-offset-2 col-sm-offset-2 col-sm-12 controls">
            {{#paper-button accent=true raised=true onClick=(action "signIn" "password")}}Login{{/paper-button}}
            {{#paper-button raised=true onClick=(action "signIn" "google")}}Login with Google{{/paper-button}}
          </div>
        </div>

        <div class="form-group">
          <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
          <div class="col-md-offset-3 col-md-12 control">
              Don't have an account! 
              <a>{{#link-to 'signup'}}Sign Up Here{{/link-to}}</a>
            </div>
          </div>
        </div>

      </form><!-- form -->

    </div>
  </div>
</div>
