{{app-navbar signOut=(action 'signOut')}}

<div class="container">
	<div class='starter-template'>
		<div class="col-md-12">
			{{liquid-outlet}}
      {{frost-modal-outlet name='myModal'}}
		</div>
	</div>
</div><!-- /.container -->
