{{app-navbar signOut=(action 'signOut')}}

<div class="container">
	<div class='starter-template'>
		<div class="col-md-12">
			{{liquid-outlet class="application-container"}}
		</div>
	</div>
</div><!-- /.container -->